.github/
.github/.gitignore
.github/workflows/
.RData
.Rhistory
.Rbuildignore
inst/extdata/PrecomputedDataLight.db
vignettes/CENTREprecomputed.html
CENTREprecomputed.Rcheck
CENTREprecomputed_0.99.0.tar.gz
Meta/
