import(AnnotationDbi)
importFrom(methods,
           new)
importFrom(utils,
           download.file)
importFrom(DBI, 
           dbConnect,
           dbGetQuery, 
           dbSendQuery, 
           dbDisconnect)
importFrom(RSQLite, 
           SQLite)



exportClasses("CENTREprecompDb")

